.home .homeContent .smallText {
  color: #fff;
  margin: 500px 0px;
  font-size: 25px;
  font-weight: bold;
}
.home .homeContent .mainText {
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  padding: auto;
  margin: 20px 0px;
  font-size: 60px;
  max-width: 600px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.home .homeContent p {
  color: #fff;
  max-width: 520px;
  font-size: medium;
}
.home .homeContent .img1 {
  width: 553px;
  height: 179px;
  z-index: 2000;
  margin-left: 704px;
  position: absolute;
  margin-top: 111px;
}
.home .homeContent .picBox {
  width: 350px;
  height: 350px;
  background-color: #592D7B;
  border-radius: 20px 20px;
  position: absolute;
  margin-left: 980px;
}
.home .homeContent .ipicBox {
  width: 350px;
  height: 350px;
  background-color: #592D7B;
  border-radius: 20px 20px;
  position: absolute;
  margin-left: 1010px;
  rotate: 12deg;
}
.home .homeContent .mypic {
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 20px 20px;
  margin-left: 910px;
  margin-top: 65px;
}
.home .homeContent .tnList .tn1 {
  position: absolute;
  display: inline-block;
  border-radius: 20px 20px;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 165px;
  height: 40px;
  margin-top: 40px;
}
.home .homeContent .tnList .tn2 {
  display: inline-block;
  margin: auto;
  border-radius: 30px 30px;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 200px;
  margin-top: 40px;
}
.home .homeContent .tnList .tn2 .itn1 {
  width: 35px;
  height: 25px;
  margin-top: 5px;
}
.home .homeContent .tnList .tn3 {
  margin: auto;
  border-radius: 100%;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.home .homeContent .tnList .tn3 .xtn {
  width: 20px;
}
.home .homeContent .tnList .tn4 {
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.home .homeContent .tnList .tn4 .dtn {
  width: 25px;
}
.home .homeContent .tnList .tn5 {
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.home .homeContent .tnList .tn5 .ltn {
  width: 20px;
}
.home .homeContent .tnList .tn6 {
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(to right, #5A2D7C, #ae8aca);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid #8C5BF3;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.home .homeContent .tnList .tn6 .gtn {
  width: 25px;
}
.home .homeContent .ach {
  margin-top: 170px;
}
.home .homeContent .ach .achList {
  margin: auto;
  margin-right: 230px;
}
.home .homeContent .ach .achList .nach {
  position: absolute;
  margin-left: 50px;
  max-width: 70px;
  font-weight: 550;
}
.home .homeContent .ach .achList .nach1 {
  position: absolute;
  margin-left: 70px;
  max-width: 70px;
  font-weight: 550;
}
.home .homeContent .ach .achList .nach2 {
  position: absolute;
  margin-left: 70px;
  max-width: 70px;
  font-weight: 550;
}
.home .homeContent .ach .achList .nach3 {
  position: absolute;
  margin-left: 50px;
  max-width: 70px;
  font-weight: 550;
}/*# sourceMappingURL=home.css.map */