.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #592D7B,#140A1B );
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.336);
    position: absolute;


    .logo {
        color: hsl(201,33%, 16%);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 25px;
            color: hsl(199,100%, 33%);
        }
    }

    @media screen and (max-width: 768px) {
        .navBar { 
            position: absolute;
            background: hsl(0,0%, 93%);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .2s ease-in-out;

            .navList {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: 3rem 0;

                .navItem{
                    padding: .5rem 0;
                    

                    .navLink {
                        color: hsl(240, 100%, 100%);
                        font-size: .9rem;
                        font-weight: 600;

                        &:hover {
                            color: hsl(199,100%, 33%)
                        }
                    }
                }
                .btn{
                    margin-top: 1rem;

                    a{
                        font-weight: 600;
                        color: hsl(0,0%, 100%);
                    }
                }
            }
            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: hsl(199,100%, 33%);

                &:hover{
                    color: hsl(187,85%, 43%);
                }
            }
        }
        .activeNavbar{
            top: 7rem;
        }
    }
    .toggleNavbar {
        .icon{
            font-size: 25px;
            color: hsl(199,100%, 33%);
        }
        &:hover.icon{
            color:  hsl(187,85%, 43%);
        }
    }

}
@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar {
        display: none;
    }
    .header{ 
        padding: 1.5rem 2rem;

        .navBar {
        .navList {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .navItem {
                .navLink {
                    color: hsl(240, 23%, 95%);
                    padding: 0 0.45rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    &:hover{
                        color: hsl(199,100%, 33%);
                    }
                }
            }
        }
    }
    }
}
@media screen and (min-width: 960px) {
    .header{
        .navBar{
            .navList{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .header{
        padding: 1rem 8.5rem;
        top: 0%;
    }
}
