@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


:root {
  --PrimaryColor: linear-gradient(to right, #100816, #5A2D7C)
  --SecondaryColor: linear-gradient(to right, #592D7B,#140A1B )
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199,100%,33%))
  --whiteColor: hsl(0,0%, 100%)
  --blackColor: hsl(201,33%, 16%)
  --textColor: hsl(0,0%, 93%)
  --whiteColorDeam: hsl(0,0%, 93%)
  --greyText: rgb(190,190, 190) 
  --inputColor: rgb(239,239,239)
  --bodyColor: rgb(240,240,240)
  --cardBG: rgb(225,225,235)
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h2{
  color: #fff;
  font-weight: bolder;
  font-size: 35px;
}

section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
  color: #542A74;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: .6rem 1.5rem;
  background: linear-gradient(to right, #542A74, #9E4FDA);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffff;
}
.btn a{
  color: hsl(0,0%, 100%);
  font-weight: 500;
}

.btn:hover{
  background: hsl(283, 68%, 55%);
}

img, video{
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: linear-gradient(to right, #100816, #5A2D7C);
}


@media screen and (min-width: 1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }
  .section{
    padding: 6rem 0.4rem;
  }
}

@media screen and (min-width: 2560px){
  body{
    zoom: 1.7;
  }
}